@import url(http://fonts.googleapis.com/css?family=Rosarivo);
@font-face {
    font-family: 'Optima';
    src: url('optima-webfont.eot');
    src: url('optima-webfont.eot?#iefix') format('embedded-opentype'),
         url('optima-webfont.woff') format('woff'),
         url('optima-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body {
	width: 100%;
	height: 100%;
	background-color: white;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: 'Optima', Arial, sans-serif;
	font-weight: lighter;
}

body {
	width: 1000px;
}

ul {
	list-style-type: none;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

h1 {
	font-family: 'Optima', Arial, sans-serif;
	font-weight: lighter;
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
	padding-bottom: 25px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

p {
	font-size: .8em;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-family: Rosarivo, Arial, Sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
    color: #040;
}

p a {
	font-weight: bold;
}

/*E96B42*/
#outer-wrapper img {
}

#outer-wrapper {
	display: table-cell;
	/*height: 100%;*/
	height: auto;
	width: 100%;
	background-image: url('../images/paper.jpg');
	background-attachment: fixed;
	background-color: #FFF;
	background-position: 0% 5%;
	vertical-align: top;
	padding-bottom: 3em;
}

.rounded_top {
	width: 100%;
	height: 10px;
	/*background-color: grey;*/
	/*border-top-right-radius: 5px;*/
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(50%,#fafafa), color-stop(51%,#f9f9f9), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */*/
/*-moz-box-shadow: 10px 10px 5px #888;*/

}

#cover {
	position: fixed;
	height: 100%;
	width: 331px;
	z-index: 1;
	background-image: url('../images/paper.jpg');
	background-position: 0% 5%;
	top: 0;
}

#inner-wrapper {
	width: 600px;
	padding-top: 1em;
	height: 95%;
	/*width: 100%;*/
	margin: 1em 0;
	width: 560px;
	border-radius: 5px;
	padding-left: 330px;
	/*border: 1px solid black;*/
	/*background-color: rgba(255, 255, 255, .6);*/
	padding-right: 1.5em;
	text-align: justify;
}

#top {
	font-size: 60px;
	color: #595249;
}

#stripe {
	font-family: 'Rosarivo';
	font-size: .8em;
	position: fixed;
	height: 100%;
	width: 230px;
	text-align: center;
	left: 50px;
	padding-top: 30px;
	box-shadow: 0 0 7px black;
	/*background-image: -webkit-linear-gradient(top, #B6D382 0%, #C9D1A4 100%);*/
	background-image: url('../images/bg5.jpg');
	overflow: auto;
	z-index: 2;
    top: 0;
	zoom: 1;
           progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Strength=15, Direction=90),
           progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Strength=15, Direction=0);

}

#stripe ul {
	text-align: right;
	padding-right: 1em;
	padding-top: 1em;
}

#stripe li {
	padding-bottom: .5em;
}

#stripe a {
	font-family: 'Optima', Arial, Sans-serif;
}

.section {
	position: relative;
	padding-bottom: 80px;
}

.terminal {
	background-color: black;
	font-family: 'Courier', arial, sans-serif;
	color: white;
	padding: .5em;
	font-size: .8em;
	margin: 1em 0em;
}

.grey {
	color: grey;
}

#dependencies {
	padding: 1em 0;
	font-size: .8em;
}

.contributors {
	display: inline-table;
	vertical-align: top;
	padding-right: 3em;
    padding-bottom: 1em;
}

.contributors li {
        display: inline-block;
        width: 50%;
        font-size: 1em;
}

#one {
	background-image: url('../images/bulls/bull11.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-position: 122% 300%;
}


#two {
	background-image: url('../images/bulls/bull2.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-position: 100% 119%;
}

#three {
	background-image: url('../images/bulls/bull3.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-position: 90% 107%;
}

#four {
	background-image: url('../images/bulls/bull4.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-position: 100% 95%;
}

#five {
	background-image: url('../images/bulls/bull5.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-position: 100% 106%;
}

#seven {
	background-image: url('../images/bulls/bull6.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-position: 107% -8%;
}

#eight {
	background-image: url('../images/bulls/bull7.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-position: 100% 53%;
}


#nine {
	background-image: url('../images/bulls/bull8.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-position: 100% 128%;
}

#bull1 {
	right: 0 !important;
	bottom: -100px !important;
}

#bull2 {
	right: 0 !important;
	bottom: -40px !important;
}

#bull3 {
	right: 40px !important;
	bottom: -40px !important;
}

#bull4 {
	right: 0 !important;
	bottom: -150px !important;
}

#bull5 {
	right: 0 !important;
	bottom: -50px !important;
}

#bull6 {
	right: 20px !important;
	bottom: -150px !important;
}

#bull7 {
	right: 0 !important;
	bottom: -250px !important;
}

#bull8 {
	right: 0 !important;
	bottom: -80px !important;
}
